body {
	background-image: url(../img/body-bg-400.jpg);
}

header h1 {
	background:transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#700000000', endColorstr='#700000000'); /* IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#81a8cb', endColorstr='#cde6f9')"; /* IE8 */
	zoom: 1;
}

footer {
	background: url('../img/footer-bg.jpg') 20px 0 no-repeat;
	padding: 350px 0 20px 0;
}

	footer section#sitemap {
		background: white;
	}