@import "lib/bootstrap/less/bootstrap";

/* ==========================================================================
		CUSTOM GRID
		https://github.com/twitter/bootstrap/issues/2448
		https://gist.github.com/2834636
   ========================================================================== */
   
#responsive-grid {   
    .grid(@gridColumnWidth, @gridGutterWidth){   //Generate our custom grid
        //Define styles for our custom grid (same as normal, but added width=auto version
        .span (@columns) when(isNumber(@gridColumnWidth)){ 
            width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
            float: left;
            margin-left: @gridGutterWidth;
        }
        .span (@columns) when(@gridColumnWidth = auto){ 
            float: none;
            display: block;
            width: auto;
            margin: 0;
        }
        .row() {
            margin-left: @gridGutterWidth * -1;
            .clearfix();
        }
        .row() when(@gridColumnWidth = auto){ 
            margin-left: 0;
        }
        .offset (@columns) {
            margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1)) + (@gridGutterWidth * 2);
        }
		
		//Grid elements
		
		header { .row(); }
		
		section#content {
			.row();
			
			article {
				.span(10);
				#recent {
					.row();
					div { .span(5); }
				}
			}
			
			aside {
				.span(6);
				.featured {
					.row();
					div { .span(3);	}
				}
			}
		}

		footer {
			.row();
			div { .span(8); }
			address { .span(4); }
			img { .span(4);	}
		}
    }
}

// Custom grid (default size)
#responsive-grid > .grid(40px, 20px);

@import "lib/bootstrap/less/responsive";

/* ==========================================================================
		MAIN ELEMENTS
   ========================================================================== */

body {
	background: @bodyBackground;
	padding: 0 10px;
}

#responsive-grid {
	background: white;
	padding: 0 10px;
}

header {
	position: relative;
	z-index: 1;
	
	#logo {
		float: left;
		margin: -100px 10px 0 -20px;
	}
		
	h1 {
		font-size: 24px;
		color: white;
		height: 70px;
		padding: 5px 0;
		margin-left: 20px;
		#translucent > .background(@black, 0.4);
	}
	
	nav {
		height: 40px;
		margin-left: 20px;
		
		.navbar-inner {
			height: @navbarHeight;
			background: url(img/navbar-bg.png);
			.border-radius(0 0 20px 20px);
			
			a {
				font-size: 14px;
			}
			
			.brand {
				display: none;
			}
			
			.icon-bar {
				#gradient > .vertical(@linkColorHover, @linkColor);
			}
		}		
	}
}
#cover {
	margin-bottom: -80px;
}



section#content {
	margin-top: 20px;
	
	article {
		.meta {
			margin-bottom: 0;
			font-size: 11px;
			color: @grayLight;
		}
	}
}

footer {
	background: darkgrey;	
}